#contact {
  background-image: linear-gradient(
    135deg,
    $third-color 0%,
    $third-color 100%
  );

  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -15rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;
    margin-left: 20%;

    @include respond(phone) {
      margin-left: none;
    }

    .field-box {
      margin-bottom: 3em;
    }

    .field-heading {
      font-weight: 800;
      font-size: $mid-font-size;
      margin-bottom: 1rem;
    }

    .field-subheading {
      font-size: $default-font-size;
      margin-bottom: 1rem;
    }

    &__text {
      margin-bottom: 2.5rem;
    }
  }

  .quote {
    margin-top: 10em;
    text-align: center;

    &--text{
      margin-top: 2em;
    }
    
    &--text h2{
      line-height: unset;
      letter-spacing: 1pt;

      @include respond(phone) {
        font-size: 1.6em;
        letter-spacing: unset;
      }
    }
  }
}
