#experience {
  background-color: $primary-color;
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: $white-color;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;

  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .org-title {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: right;

    @include respond(tab-port-sm) {
      font-size: 2.2rem;
      text-align: center;
    }
  }

  .org-position {
    font-size: 2rem;
    text-align: right;
    margin-bottom: 3rem;

    @include respond(tab-port-sm) {
      margin-bottom: 1rem;
      text-align: center;
      font-size: 1.8rem;
    }
  }

  .org-date {
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: right;

    @include respond(tab-port-sm) {
      text-align: center;
      font-size: 1.8rem;
    }
  }

  .experience-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    &__info {

      @include respond(tab-port-sm) {
        align-items: left;
      }

      &-text {
        text-align: left;

        @include respond(tab-port) {
          text-align: left;
        }
        @include respond(tab-port-sm) {
          text-align: left;
        }

        &--important {
          background: darken($secondary-color, 1%);
          display: inline-block;
          font-style: italic;
          padding: 0 0.3rem;
          margin: 0.3rem 0;
          line-height: 1.6;

          @include respond(phone) {
            display: inline;
            margin: 0;
            padding: 0;
            background: transparent;
            font-style: normal;
          }
        }
      }
    }
  }
}
