#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .hero-svg {
    position: absolute;
    width: 60%;
    top: 30vh;
    right: 0;

    @include respond(tab-port-sm) {
      position: absolute;
      width: 75%;
      top: 47vh;
      right: 0;
    }
  }

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 1.2rem;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 2.3rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.2rem;
    }
  }

  .hero-subtitle {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 2.2rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.2rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(phone) {
      justify-content: left;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 1.7rem;
      }
    }
  }
}
