#skills {
  background-color: $forth-color;
  color: $dark-blue-text;
  margin-top: -10rem;


  @include respond(tab-land) {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .bars {
    width: 95%;
    float: left;
    padding: 0;
    text-align: left;
  }

  .bars .skills {
    margin-top: 36px;
    list-style: none;
  }

  .bars li {
    position: relative;
    margin-bottom: 65px;
    background: #ccc;
    height: 42px;
    border-radius: 3px;

    @include respond(tab-port-sm) {
      height : 30px;
      margin-bottom : 42px;
    }   
  }

  .bars li em {
    font: 15px;
    letter-spacing: 2px;
    font-weight: normal;
    position: relative;
    top: -42px;
    font-size: $mid-font-size;

    @include respond(tab-port-sm) {
      top: -30px;
      font-size: 1.5rem;
    }   
  }

  .bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: #313131;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;

    @include respond(tab-port-sm) {
      height : 30px;
    }   
  }

  .animate-bar {
    animation: animate-width 1500ms ease-in-out forwards;
  }

  @keyframes animate-width {
    0% { width: 0%; }
  }

  .skill-icons {
    margin-top: 25%;

    @include respond(tab-port-sm) {
      margin-top: 5%;
    }
  }

  .skill-icons i{
    font-size: 8em;
    padding: 15px;
    color: #000;

    @include respond(tab-port) {
      font-size: 5em;
    }
  }

  .skill-icons .fa-angular:hover {
    color : red;
    transition: 200ms linear;
    transition-property: color;
  }

  .skill-icons .fa-aws:hover {
    color: #fd7e14;
    transition: 200ms linear;
    transition-property:  color;
  }

  .skill-icons .fa-docker:hover {
    color: #15aabf;
    transition: 200ms linear;
    transition-property:  color;
  }

  .skill-icons .fa-bootstrap:hover {
    color: #7952b3;
    transition: 200ms linear;
    transition-property:  color;
  }

  .skill-icons .fa-figma:hover {
    color: #be4bdb;
    transition: 200ms linear;
    transition-property:  color;
  }

  .skill-icons .fa-js-square:hover {
    color: #fcdc00;
    transition: 200ms linear;
    transition-property:  color, font-size;
  }

  .skill-icons .fa-git:hover {
    color: red;
    transition: 200ms linear;
    transition-property:  color, font-size;
  }

  // For touch devices ( smaller then tablet )
  .skill-icons .fa-angular {
    @include respond(tab-port-sm) {
      color : red;
    }
  }

  .skill-icons .fa-aws {
    @include respond(tab-port-sm) {
      color: #fd7e14;
    }
  }

  .skill-icons .fa-docker {
    @include respond(tab-port-sm) {
      color: #15aabf;
    }
  }

  .skill-icons .fa-bootstrap {
    @include respond(tab-port-sm) {
      color: #7952b3;
    }
  }

  .skill-icons .fa-figma {
    @include respond(tab-port-sm) {
      color: #be4bdb;
    }
  }

  .skill-icons .fa-js-square {
    @include respond(tab-port-sm) {
      color: #fcdc00;
    }
  }

  .skill-icons .fa-git {
    @include respond(tab-port-sm) {
      color : red;
    }
  }



  .skill-icon-row {
    width: fit-content;
    margin: auto;
  }

  .skills-wrapper {
    @include respond(phone) {
      padding-bottom: 5rem;
    }

    .subtitle {
      text-align: center;
    }

  }
}
