// COLORS
$primary-color: #457fca;
$secondary-color: $primary-color;
$third-color : #2B2B2B;
$forth-color : #f8f9fa;

$white-color: #fff;

$dark-grey: #333333;

// For Headings
$dark-blue-text: #272341; 

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$sm-font-size: 1rem;